 <div class="user-details">
  <h1> About Me </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>FrameWork</h2>
      <i class="devicon-express-original colored"></i>
      <i class="devicon-yii-plain colored"></i>
      <p>Very good knowledge of Spring Boot, Express js</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-python-plain colored"></i>
      <i class="devicon-java-plain colored"></i>
      <i class="devicon-nodejs-plain-wordmark colored"></i>
      <p>Very Good knowledge of Java, Node.js. Familiar with Python</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-visualstudio-plain colored"></i>
      <i class="devicon-intellij-plain"></i>
      <p>Good knowledge of Visual Studio and Eclipse</p>
    </div>
</div>
