<div class="user-details">
  <h1> Experience </h1>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="Connecto" src="{{ "/assets/img/girnarsoft.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Deputy Director </h3>
    <h4> Jaipur, Rajasthan — 2007-Present </h4>
    <ul>
      <li> Worked on several projects (Connecto, DealerMart, CarDekho.com​, Accept 360,​ c​arsales.cardekho.com​,​ ​yourbillbuddy.com​, DCM,​ ​www.zozoc.com​, www.1ka10.com​,​ futuredekho.com​, Money Tracker, Lead Scoring, Nextance) </li>
      <li> Managed GirnarSoft Pvt LTD​ Hyderabad branch over 6 years </li>
    </ul>
    <a class="project-link" target="_blank" href="http://www.girnarsoft.com/">Check it out</a>
  </div>
</div>