<div class="user-details">
  <h1> Current Projects </h1>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="Connecto" src="{{ "/assets/img/Connecto.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Connecto </h3>
    <ul>
      <li> Working on interesting tech stack - Node.js, AngularJS, ExpressJS, Cassandra, Kafka, MongoDB, and Druid </li>
    </ul>
    <p>Connecto brings together real-time user insights, an advanced segmentation engine, and easy-to-use marketing tools — giving your team the power to create amazing experiences that deepen customer relationships.</p>
    <a class="project-link" href="http://www.connecto.io/">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="CarDekho" src="{{ "/assets/img/cardekho.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> CarDekho </h3>
    <ul>
      <li> Worked in CarDekho used cars, LMS(Lead Management System) projects </li>
      <li> We realized LMS which we built can't scale further. So rewrote LMS from scratch using Java, Spring Boot, MongoDB </li>
    </ul>
    <p>www.CarDekho.com is India's no. 1 Auto portal catering to the car buyers by giving them unbiased reviews, great deals on cars, finance and insurance</p>
    <a class="project-link" href="http://www.cardekho.com/">Check it out</a>
  </div>
</div>
